.customBorder {
	display: inline-block;
	padding: 5px 5px 5px 5px;
	/* padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px; */
}

.customBorder p {
	font-style: italic;
}

.italicCustomStyle {
	font-style: italic;
}

.errorMsg {
	color: red;
	font-style: italic;
}

.weeklyBtn {
	display: inline-block;
}

.weeklyDropdwn {
	padding-right: 5px;
	display: inline-block;
}
